@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .avoid-break {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

@media print {
  @page {
    margin: 20mm;
    size: letter;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
